<div class="container">
  <h1>Synth list</h1>
    <% if @synths.empty? %>
      <p>No instruments found</p>
    <% else %>
    <ul>
      <% @synths.each do |synth| %>
        <li>
          <%= link_to synth.name, synth %>
        </li>
      <% end %>
    </ul>
    <% end %>
</div>
