<div class="container">
  <h1>Synth list</h1>
    <% if @synths.empty? %>
      <p>No instruments found</p>
    <% else %>
      <% @synths.each do |synth| %>
        <%= link_to synth.name, synth %>
      <% end %>
    <% end %>
</div>
